.bordered {
  border: 1px dashed black;
}

.accent {
  background-color: lightblue;
}

.selected {
  background-color: blue;
  color: white;
}

.Addcertificates {
  margin: 15px;
  padding: 10px;
  margin: 5px;
  width: 90%;
}

.certification {
  font-size: 50px;
  font-weight: bold;
  color: #663ab7;
}

.certify {
  font-size: 25px;
}

.name {
  font-size: 30px;
  color: green;
}

.fs-30 {
  font-size: 30px;
}

.fs-20 {
  font-size: 20px;
}

/* template style */
.inner-dotted-border {
  width: 750px;
  height: 600px;
  padding: 20px;
  text-align: center;
  border: 5px solid #673ab7;
  border-style: dotted;
}

.templateWrapper {
  text-align: center;
  margin-left: 21%;
  width: 800px;
  height: 650px;
  position: relative;
}

.templateBackground {
  width: 800px;
  height: 650px;
  position: relative;
}
.templateContent {
  width: 800px;
  height: 650px;
  position: absolute;
  top: 0px;
  left: 0px;
}
