.certificateCardWraper {
  height: 200px !important;
  width: 250px;
  margin: 10px;
  border: 1px solid black;
  position: relative;
}

.checkbox {
  height: 30px;
  width: 30px;
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
}
